<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">用户组</div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="test-table-page" lay-filter="test-table-page"></table>
                    <script type="text/html" id="test-table-operate-barDemo">
                        {volist name="btn.table" id="voo"}
                        <a class="layui-btn {$voo.style} layui-btn-xs" lay-event="{$voo.event}">{$voo.name}</a>
                        {/volist}
                    </script>
                    <script type="text/html" id="toolbar">
                        {volist name="btn.top" id="voo"}
                        <button class="layui-btn layui-btn-sm {$voo.style}" lay-event="{$voo.event}">
                            {$voo.name|raw}
                        </button>
                        {/volist}
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
        const admin = layui.admin
            , table = layui.table;

        table.render({
            elem: '#test-table-page'
            , url: 'showList'
            , toolbar: "#toolbar"
            , defaultToolbar: ['filter', 'exports', 'print']
            , limit: 10
            , limits: [10,20,40,80,160,500,1000,5000,10000]
            , cols: [[
                {field: 'id', width: 100, title: 'ID', sort: true}
                , {field: 'status', width: 80, title: '状态'}
                , {field: 'title', width: 200, title: '名称'}
                , {field: 'describe', title: '描述'}
                , {field: 'number', width: 100, title: '用户数'}
                , {width: 260, align: 'center', fixed: 'right', toolbar: '#test-table-operate-barDemo'}
            ]],
            page:true
        });

        //监听工具栏
        table.on('toolbar(test-table-page)', function (obj) {
            if (obj.event === 'add') {
                layer.open({
                    type: 2,
                    title: '添加用户组',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['100%', '100%'],
                    content: "/auth/Group/add",
                    cancel: function(){
                        table.reload('test-table-page');
                    }
                });
            }
        })

        //监听工具条
        table.on('tool(test-table-page)', function (obj) {
            let data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除？', function (index) {
                    $.ajax({
                        'url':'del',
                        'data':{
                            'id':data.id
                        },
                        'success':function(data){
                            if (data.code === 0) {
                                layer.alert(data.msg,{
                                    closeBtn: 0
                                },function (index) {
                                    table.reload('test-table-page');
                                    layer.close(index);
                                });
                            } else {
                                layer.alert(data.msg,{
                                    skin: 'layui-layer-error' //样式类名
                                    ,closeBtn: 0
                                });
                            }
                        },
                        'dataType':'json',//返回的格式
                        'type':'post',//发送的格式
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    title: '编辑用户组',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['600px', '60%'],
                    content: "/auth/Group/edit?id=" + data.id,
                    cancel: function(){
                        table.reload('test-table-page');
                    }
                });
            }else if (obj.event === 'allot') {
                layer.open({
                    type: 2,
                    title: '授权',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['100%', '100%'],
                    content: "/auth/Group/allot?id=" + data.id,
                    cancel: function(){
                        table.reload('test-table-page');
                    }
                });
            }
            else if (obj.event === 'look') {
                layer.open({
                    type: 2,
                    title: '查看用户',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['100%', '100%'],
                    content: "/auth/Group/look?id=" + data.id,
                    cancel: function(){
                        table.reload('test-table-page');
                    }
                });
            }
        });
    });
</script>